arrow
chardet
requests
qiniu
pyyaml
disjoint-set==0.6.3
coloredlogs
humanfriendly
tqdm

pympler
lxml
beautifulsoup4
numpy
Jinja2
pandas>=0.23.4

pillow
PyMuPdf

opsdroid-get-image-size
opencv-python
shapely

pyahocorasick
