arrow
charset-normalizer
requests
qiniu
pyyaml
loguru
humanfriendly
tqdm
ujson
Deprecated
pyperclip
envariable
decorator
more-itertools
fire
xlrd
pympler
lxml
beautifulsoup4
numpy
Jinja2
pandas>=0.23.4
pillow