name: Release to PyPI using Trusted Publisher
on:
  push:
    tags:
      - 'v*'  # 只要推送以 v 开头的 tag 就触发

jobs:
  publish:
    name: Publish to PyPI
    runs-on: ubuntu-latest

    environment:
      name: release

    permissions:
      id-token: write

    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/setup-uv@v5
        with:
          version: "0.9.22"  # 要使用的uv版本
      - run: uv build
      - run: uv publish --trusted-publishing always
